
<article class="event">
    <img class="event__img--circle" src="{{ this.images.[0].url}}" alt="Event poster">
    <div class="event-wrap">
        <div class="event__img-wrap">
            <img class="event__img" 
            src="{{ this.images.[1].url}} "
            alt="Event poster">
        </div>
        <div class="event__text-content">
            <ul class="event__info list">
                <li class="event__info-item">
                    <h2 class="event__subtitle">info</h2>
                    <p class="event__text">
                        {{this.description}}
                        {{this.promoter.description}}
                    </p>
                </li>
                <li class="event__info-item">
                    <h2 class="event__subtitle">when</h2>
                    <p class="event__text event__text--first-string">
                        {{this.dates.start.localDate}}
                    </p>
                    <p class="event__text">
                        {{this.dates.start.localTime}} {{this.dates.timezone}}
                    </p>
                </li>
                <li class="event__info-item">
                    <h2 class="event__subtitle">where</h2>
                    <p class="event__text event__text--first-string">
                        {{this._embedded.venues.0.city.name}} {{this.place.city.name}}, {{this._embedded.venues.0.country.name}} {{this.place.area.name}}
                    </p>
                    <p class="event__text">
                        {{this._embedded.venues.0.name}}
                    </p>
                </li>
                <li class="event__info-item">
                    <h2 class="event__subtitle">who</h2>
                    <p class="event__text">
                        {{this.name}}
                    </p>
                </li>
                <li class="event__info-item">
                    <h2 class="event__subtitle">prices</h2>
                    {{#each this.priceRanges}}
                    <p class="event__text event__text-icon">
                        <svg class="event__price-icon" width = "24" height = "16">
                            <use href="../images/svg/symbol-defs.svg#icon-ticket"></use>
                        </svg>
                        {{this.type}} {{this.min}} - {{this.max}}
                        {{this.currency}}
                    </p>
                    {{/each}}
                    </li>
                    <a href="{{this.url}}" class="event__link button" rel="noopener noreferrer nofollow" target="_blank">
                        buy tickets</a>
            </ul>
                
                {{!-- <button class="event__button button" > buy tickets</button> --}}
                   
           
            {{!-- <button class="event__button button"> buy tickets</button> --}}
            <!-- <a class="event__link link" rel="noopener noreferrer nofollow" target="_blank href={{this.url}} >
                      buy tickets</a>
                 
                  
                  <p class=" event__text"> VIP from 50 to 500 usd</p>
              <button class="event__button button">buy tickets</button> -->

        </div>
    </div>
    <button class="modal__btn-more button">more from this author</button>
</article>
