<article class="event">
    <img class="event__img--circle" src="" alt="">
    <div class="event-wrap">
    <img class="event__img" src="" alt="">
    <div class="event__text-content">
        <ul class="event__info list">
            <li class="event__info-item">
                <h2 class="event__subtitle">info</h2>
                <p class="event__text">
                {{this.description}}
                </p>
            </li>
            <li class="event__info-item">
                <h2 class="event__subtitle">when</h2>
                <p class="event__text event__text--first-string">
                {{this.dates.start.localDate}}
                </p>
                <p class="event__text">
                    {{this.dates.start.localTime}} {{this.dates.timezone}} 
                </p>
            </li>
            <li class="event__info-item">
                <h2 class="event__subtitle">where</h2>
                <p class="event__text event__text--first-string">
                    {{this._embedded.venues.0.city}}, {{this._embedded.venues.0.country}}
                </p>
                <p class="event__text">
                    {{this._embedded.venues.0.name}}
                </p>
            </li>
            <li class="event__info-item">
                <h2 class="event__subtitle">who</h2>
                <p class="event__text">
                    {{this.name}}
                </p>
            </li>
            <li class="event__info-item">
                <h2 class="event__subtitle">prices</h2>
                <p class="event__text"> 
                    {{this.priceRanges.type}} {{this.priceRanges.min}} - {{this.priceRanges.max}} {{this.priceRanges.currency}}
                </p>
                <button class="event__button button">buy tickets</button>
                {{!-- <p class="event__text"> VIP from 50 to 500 usd</p>
                <button class="event__button button">buy tickets</button> --}}
            </li>
        </ul>
    </div>
    </div>
    <button class="modal-btn button">more from this author</button>
</article>